Source: cyfir
Section: misc
Priority: extra
Maintainer: CynorSense Solutions Pvt. Ltd. <support@cynorsense.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/Cyarun/CyFir

Package: cyfir
Architecture: any
Depends: lsb-base (>= 3.2-14)
Description: CyFir - Cyber Forensics & IR Platform
 CyFir - Advanced Cyber Forensics and Incident Response Platform
