[Unit]
Description=CyFir linux amd64
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=120
LimitNOFILE=20000
Environment=LANG=en_US.UTF-8
ExecStart=/usr/sbin/cyfir --config /etc/cyfir.config.yaml client

[Install]
WantedBy=multi-user.target
